*{

  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.screen{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-bar{

  flex-basis: 20%;
  background-color: #526FE4;
}

.main{
  flex-basis: 80%;
  background-color: #F1F5FA;
}

.calculator{
  background-color: #fff;
  padding: 10px;
}

.container{
  display: flex;
  flex-direction: row;
}

.input{
  flex-basis: 50%;
  border: 1px solid #EAEBED;
  margin: 10px
}


.info{
  font-weight: 400;
  margin: 10px;
}

.back{
  font-weight: 400;
  margin: 10px;
}


.totalamount{
  color: #506EE4;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
}

.potentialamount{
  color: #FF5F1B;
  font-weight: bold;
  font-family: sans-serif;

}
.delay{
  color:#06A473;
  font-weight: bold;
  font-family: sans-serif;
}

.bar{
  background-color:#5E73EB;
}

.graph-text{
  align-items: center;
  color: #626161;
  line-height: 1.5;
}

.graph{
    flex-basis: 50%;
    border: 1px solid #EAEBED;
    margin: 10px;
    padding: 20px;
}

.bar-graph{
  margin: 30px 0px 0px 5px;
}

.slider-area{
  margin: 40px 0px;
  margin-left: 30px;
}


